<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Oblog</title>
		<link rel="stylesheet" href="/css/main.css" />
		<style>
			ul {
				width: 90%;
				list-style: none;
				padding: 10px 0;
				margin: auto;
			}

			li {
				margin: 20px 0;
				padding: 4px 0;
				text-align: left;
			}

			.content {
				white-space: pre-wrap;
				word-break: break-all;
				text-align: left;
				padding: 5px 0;
			}

			.writer {
				display: flex;
				align-items: center;
				gap: 2px;
			}

			.writer-comment::after {
				content: '작성자';
				font-size: 12px;
				padding: 3px;
				border-radius: 9px;
				color: gray;
				background-color: lightgray;
			}
		</style>
	</head>
	<body>
		<nav>
			<a href="/" class="brand">Oblog</a>
			<div>
				<a href="/blog/write">글쓰기</a>
				<a href="/account">계정</a>
			</div>
		</nav>
		<main>
			<% const deleted = (id) => id === '-' %>
			<article>
				<h2><%= title %></h2>
				<div style="display: flex; justify-content: space-between; align-items: center">
					<span class="writer">
						<img
							width="20px"
							height="20px"
							src="https://www.transparentpng.com/thumb/user/blak-frame-user-profile-png-icon--cupR3D.png"
							alt=""
						/>
						<% if (deleted(writer_id)) { %>
						<b style="color: gray">[deleted]</b>
						<% } else { %>
						<b><%= writer_id %></b>
						<% } %>
					</span>
					<span style="color: gray"><%= write_date.toLocaleDateString('ko-KR') %></span>
				</div>
			</article>
			<hr />
			<article class="content"><%= content %></article>
			<% if (writer_id === user) { %>
			<div>
				<button onclick="location.assign('/blog/delete/<%= id %>')">글 삭제</button>
				<button onclick="location.assign('/blog/update/<%= id %>')">글 수정</button>
			</div>
			<% } %>
			<article>
				<h3>댓글 목록</h3>
				<ul>
					<% if (comments.length) { %> <% for (let comment of comments) { %>
					<li style="box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.5)" data-id="<%= comment.id %>">
						<div style="display: flex; justify-content: space-between; align-items: center">
							<span class="writer <%= comment.writer_id === writer_id ? 'writer-comment' : '' %>">
								<img
									width="20px"
									height="20px"
									src="https://www.transparentpng.com/thumb/user/blak-frame-user-profile-png-icon--cupR3D.png"
									alt=""
								/>
								<% if (deleted(comment.writer_id)) { %>
								<b style="color: gray">[deleted]</b>
								<% } else { %>
								<b><%= comment.writer_id %></b>
								<% } %>
							</span>
							<span style="color: gray"><%= comment.write_date.toLocaleDateString('ko-KR') %></span>
						</div>
						<div>
							<span class="content"><%= comment.content %></span>
							<% if (comment.writer_id === user) { %>
							<div style="float: right">
								<button onclick="delete_comment('<%= comment.id %>')">댓글 삭제</button>
							</div>
							<% } %>
						</div>
					</li>
					<% } %> <% } else { %> 댓글이 없습니다. <% } %>
				</ul>
			</article>
			<div style="margin-top: 20px">
				<% if (user !== null) { %>
				<form action="/blog/comment" method="post">
					<textarea style="width: 90%" name="content" rows="5" maxlength="500" required></textarea>
					<input type="hidden" name="id" value="<%= id %>" />
					<button type="submit">댓글 달기</button>
				</form>
				<% } else { %>
				<button type="button" onclick="document.querySelector('dialog').showModal()">로그인</button>
				후 댓글을 달 수 있습니다. <% } %>
			</div>
		</main>
		<footer>
			Made by <a href="https://github.com/OhBeomho">OhBeomho</a><br />
			Source on <a href="https://github.com/OhBeomho/Oblog">GitHub</a>.
		</footer>

		<dialog style="text-align: center">
			<form action="/account/login" name="login" method="post">
				<h1>로그인</h1>
				<table>
					<tr>
						<td>ID</td>
						<td><input type="text" name="id" autocomplete="off" /></td>
					</tr>
					<tr>
						<td>비밀번호</td>
						<td><input type="password" name="password" autocomplete="off" /></td>
					</tr>
					<tr>
						<td colspan="2">
							<button type="submit">로그인</button>
							<button type="button" onclick="document.querySelector('dialog').close()">취소</button>
						</td>
					</tr>
				</table>
				<input type="hidden" name="return_url" />
			</form>
		</dialog>

		<script>
			document.querySelector('input[name="return_url"]').value = location.href

			function delete_comment(id) {
				const xhr = new XMLHttpRequest()
				xhr.open('GET', '/blog/comment_delete/' + id)
				xhr.send()
				xhr.onreadystatechange = () => {
					if (xhr.readyState === XMLHttpRequest.DONE) {
						if (xhr.status === 200) document.querySelector(`li[data-id="${id}"]`).remove()
						else if (xhr.status === 500) {
							alert('서버에서 오류가 발생했습니다.')
							console.log(JSON.parse(xhr.response).err)
						}
					}
				}
			}
		</script>
	</body>
</html>
